
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #0D0D0D;
}

h1, h2, h3 {
  color: #0D0D0D;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
   font-size: 1.5rem; 
   font-weight: 700;
   color: #1a1a1a;
}

h2 {
   font-size: 2.5rem; 
    font-weight: 700;
} 

.mi-toast {
  font-size: 1.1rem; 
}

#titulo-principal {
  color: #fcfafa;
  font-size: 3rem;
  font-weight: 500;
}

#texto-eslogan{
  color: #fcfafa;
  font-weight: 200;
}

.titulo-resultado {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.mensaje-error{
  color: red;
  font-size: 0.7em;
}
