
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle, #fafafa, #dee7e5, #d8e0e0, #fafafa, #fafafa);
}

.contenedor-principal { 
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid #0f0cb8; 
}
.contenedor-subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-formulario{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 2rem;
  border: 1px solid #b80c0c;
}

.contenedor-formulario-labels{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  border: 1px solid #200ae6;
}

.contenedor-formulario-inputs{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  border: 1px solid #20b80c;
}

.contenedor-formulario-mensajes-error{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: left;
  border: 1px solid #e29f0e;
}

.mensaje-error {
    min-height: 2.2rem; 
    line-height: 1.2; 
    text-align: left;
    padding-top: 1.2rem;
    /* border: 1px solid #e9c70a; */
}

.contenedor-boton{
  width:  50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border:1px solid #89d80a;
}

.contenedor-resultado {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 0.8rem;
  text-align: center;
  /* border: 1px solid #df7906;  */
}