header {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to bottom, #0df205, #0df205, #0df205, #0df205, #0df205, #25ee03, #32e901, #3be500, #4adb00, #55d200, #5cc800, #62bf04);
  padding: 1rem 0;
  text-align: center;
  justify-content: center;
  gap: 3rem;
}

