header {
  background-image: linear-gradient(to right top, #62bf04, #5cc800, #55d200, #4adb00, #3be500, #10e854, #00e97d, #00e99e, #00ddcd, #00cdee, #00b9fc, #44a1f2);
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

#titulo-principal {
  text-align: center;
  color: #0D0D0D;
}