nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-image: radial-gradient(circle, #fafafa, #dee7e5, #d8e0e0, #fafafa, #fafafa);
} 

/* Asegura que cualquier elemento con el atributo hidden se oculte correctamente */
[hidden] {
    display: none !important; 
}

#contenedor-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #ffffff;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.boton-nav{
    padding: 0.5rem 6rem;
    color: #646565;
    background-color:  #ffffff;
    border: #ffffff;
    font-size: 1rem;
    width: 33%;
}

.boton-nav:hover{
   background-color: #44a1f27b;
   transform: translateY(0px);
   border: #44A1F2;
   color: #0e0e0e;
}

.boton-nav-activo{
 background-color: #44A1F2;
 color: #0e0e0e;
}


