button {
  padding: 1rem 2.2rem;
  border: 1px solid #007bff;
  background-color: #44A1F2;
  color: #F4F4F4;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1.2rem; 
}

button:hover {
  background-color: #F29F05;
  border: 1px solid #594234;
  transform: translateY(-2px); /* Efecto 3D sutil */
}

button:active {
    background-color:#007bff;
    transform: translateY(0);
}