button {
  padding: 0.75rem 1.5rem;
  border: 1px solid #007bff;
  background-color: #44A1F2;
  color: #F4F4F4;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.3rem; 
}

button:hover {
  background-color: #F29F05;
}