input[type="text"] {
  width: 100%;
  padding: 0.8rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem; 
  color: #3a3434;
  letter-spacing: 0.05rem;
  box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

input::placeholder{
 color: #cdc7c7;
}

input[type="text"]:focus{
    border-color: #0df205; /* Color principal al enfocar */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2); /* Sombra ligera de enfoque */
    outline: none;
}